<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370571522318-43l9vs9a1i3k9if2cpdjjf2lp8edtkkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370571522318-43l9vs9a1i3k9if2cpdjjf2lp8edtkkv</string>
	<key>API_KEY</key>
	<string>AIzaSyARnEINEoeNu23nCojWqxR7FPXkD_U25pg</string>
	<key>GCM_SENDER_ID</key>
	<string>370571522318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.work</string>
	<key>PROJECT_ID</key>
	<string>new-project-799c1</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-799c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370571522318:ios:6f38371290ce8be4d6275f</string>
</dict>
</plist>